---
import Layout from "../layouts/Layout.astro";
import PDFViewer from "../components/PDFViewer.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <p>blegh</p>
  <PDFViewer src="msipp.pdf" title="Annual Scientific Meeting 2025" scale="1" />
</Layout>
