---
import PDFViewer from "../components/PDFViewer.astro";
---

<main>
  <section>
    <PDFViewer
      src="msipp.pdf"
      title="Annual Scientific Meeting 2025"
      scale="1"
    />
  </section>
</main>
