---
import { Mail } from '@lucide/astro';
---

<div class="col-start-3 flex flex-row col-span-8 content-center justify-between">
  <div class="max-w-md content-center">
    <p class="text-primary font-semibold mb-2 tracking-wider uppercase">MSESS</p>
    <h1 class="text-4xl font-bold mb-5 tracking-wide leading-tight max-w-prose">Malaysia Society<br> of Endoscopic<br>Spine Surgery</h1>
    <p class="leading-normal max-w-prose mb-4 tracking-wider">At MSESS, we believe that understanding pain is the best way to help others.</p>
    <button class="btn btn-md text-[1.01rem] py-6 px-6 mr-4 btn-primary tracking-wider"
        >Join us at MSESS 2026</button
      >
      <button class="btn btn-neutral btn-outline bg-white px-8 py-6"><Mail size={28} stroke-width={1.5} ></Mail></button>
  </div>
  <div ><img src="/images/vert-kl-city.jpg" alt="KLCC Towers" class="rounded-3xl w-132 h-132"></div>
</div>