<div
  class="hero min-h-170 sm:min-h-180 lg:min-h-200 bg-fixed"
  style="background-image: url(src/assets/Images/Doctors/dark-kl-city.jpg);"
>
  <div class="hero-overlay"></div>
  <div class="hero-content text-neutral-content text-center">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl font-bold">
        Malaysia Society of Endoscopic Spine Surgery (MSESS)
      </h1>
      <p class="mb-5">
        Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda
        excepturi exercitationem quasi. In deleniti eaque aut repudiandae et a
        id nisi.
      </p>
      <button class="btn btn-md px-10 py-6 text-[1.01rem] btn-primary"
        >Join MSESS</button
      >
    </div>
  </div>
</div>
