<div
  class="hero col-span-12 bg-fixed"
  style="background-image: url(src/assets/Images/Doctors/dark-kl-city.jpg);"
>
  <div class="hero-overlay"></div>
  <div class="hero-content text-neutral-content text-center">
    <div class="max-w-md my-20">
      <h1 class="mb-5 text-5xl font-bold">
        Malaysia Society of Endoscopic Spine Surgery
      </h1>
      <p class="mb-5">
        At MSESS, we believe that understanding pain is the best way to help
        others.
      </p>
      <button class="btn btn-md px-10 py-6 text-[1.01rem] mr-4 btn-primary"
        >Join us at MSESS 2026</button
      >
      <button class="btn btn-md px-10 py-6"></button>
    </div>
  </div>
</div>
