---

---

<div
  class="navbar grid grid-cols-subgrid bg-base-100 shadow-sm col-span-12 h-32"
>
  <div class="col-start-3 col-span-3 items-center flex">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h8m-8 6h16"></path>
        </svg>
      </div>
      <ul
        tabindex="0"
        class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow"
      >
        <li><a>Item 1</a></li>
        <li>
          <a>Parent</a>
          <ul class="p-2">
            <li><a>Submenu 1</a></li>
            <li><a>Submenu 2</a></li>
          </ul>
        </li>
        <li><a>Item 3</a></li>
      </ul>
    </div>
    <a class="btn btn-ghost text-xl/6 font-logo text-start tracking-widest"
      >Persatuan Pembedahan<br /> Spinal Endoskopi<br /> Malaysia</a
    >
  </div>
  <div class="col-span-5 hidden lg:flex justify-end items-center">
    <ul class="menu menu-horizontal">
      <li><a class="font-[600] tracking-wide px-6">About Us</a></li>
      <li>
        <details>
          <summary class="font-[600] tracking-wide px-6 click:"
            >Past Events</summary
          >
          <ul class="p-2">
            <li><a class="font-[600] tracking-wide">Submenu 1</a></li>
            <li><a class="font-[600] tracking-wide">Submenu 2</a></li>
          </ul>
        </details>
      </li>
      <li><a class="font-[600] tracking-wide px-6">Contact Us</a></li>
    </ul>
    <a class="btn btn-primary px-6 ml-6 font-[700] tracking-wide">Join MSESS</a>
  </div>
</div>
