<div class="flex flex-row col-span-8 justify-center col-start-3 mt-32">
  <div class=""><p class="text-primary font-semibold mb-2 tracking-wider uppercase">msess president address 2025</p></div>
  
</div>