<div
	class="flex flex-col col-span-8 content-center justify-center col-start-3 mt-32 text-center">
	<div class="">
		<p class="text-primary font-semibold mb-2 tracking-wider uppercase">
			msess president address 2025
		</p>
	</div>
	<div>
		<h1 class="text-4xl font-bold mb-5 tracking-wide leading-tight max-w-prose">
			Welcome to the inaugural MSESS/<br />PPSEM conference.
		</h1>
	</div>
	<div>
		<img
			src="/images/doctors/nurulazwa-noor.jpg"
			alt="Dr. Nurulazwa Noor"
			class="rounded-3xl w-132 aspect-square mask-clip-view m-auto mt-6 z-12 relative drop-shadow-md"
		/>
		<div
			class="z-1 bg-gradient-to-b from-cyan-400 to-[#0088ff] rounded-3xl w-300 h-170 justify-self-center absolute inset-x-0 -mt-20 drop-shadow-md">
			<div
				class="flex-row flex place-content-center contents box-content mt-32">
				<p class="text-white tracking-wider prose drop-shadow-none">
					<span class="font-semibold tracking-wider text-xl"
						>This year marks a significant milestone as we elevate the Malaysia
						Spine Surgery community through MSESS.</span
					>
					<br /><br />

					<span class="font-light tracking-widest"
						>Thanks to the dedicated efforts of our colleagues from Neurosurgery
						and Orthospine divisions, we've made this dream a reality. MSESS has
						brought together local and international experts in Endoscopic Spine
						Surgery to share their knowledge and expertise. We've also formed
						partnerships with renowned spinal surgery associations to expand our
						training, experience sharing, idea exchanging, and research
						collaborations.<br /><br />

						Join us for keynote lectures, workshops, panel discussions, and
						presentations, providing a valuable platform for learning,
						networking, and collaborations. Thank you to all sponsors,
						exhibitors, speakers, and delegates for their unwavering support. We
						hope you have an informative and enjoyable experience.<br /><br
						/></span
					>

					<span class="font-semibold italic"
						>Dr Nurul Azwa Bin Mohamad Noor, President of MSESS</span>
				</p>
			</div>
		</div>
	</div>
</div>
