<div class="hero min-h-1/2 bg-base-100">
  <div class="hero-content flex-col lg:flex-row my-20">
    <img
      src="src/assets/Images/Doctors/nurulazwa-noor.jpg"
      class="max-w-sm rounded-lg shadow-2xl mr-24"
      style="clip-path: inset(0% 13% round 15px)"
    />
    <div>
      <article class="py-10 prose prose-sm min-w-140">
        <h2 class="mb-6 text-2xl">
          Welcome to the inaugural MSESS/PPSEM Conference
        </h2><p>
          This year marks a significant milestone as we elevate the Malaysia
          Spine Surgery community through MSESS.
        </p><p>
          Thanks to the dedicated efforts of our colleagues from Neurosurgery
          and Orthospine divisions, we've made this dream a reality. MSESS has
          brought together local and international experts in Endoscopic Spine
          Surgery to share their knowledge and expertise. We've also formed
          partnerships with renowned spinal surgery associations to expand our
          training, experience sharing, idea exchanging, and research
          collaborations.
        </p>
        <p>
          Join us for keynote lectures, workshops, panel discussions, and
          presentations, providing a valuable platform for learning, networking,
          and collaborations.
        </p>
        <p>
          Thank you to all sponsors, exhibitors, speakers, and delegates for
          their unwavering support. We hope you have an informative and
          enjoyable experience.
        </p><p>
          <em
            ><strong>Dr Nurul Azwa Bin Mohamad Noor, President of MSESS</strong
            ></em
          >
        </p>
      </article>
    </div>
  </div>
</div>
