---
import "../assets/app.css";

// import Drizzle database with wrangler/D1 configs
import { drizzle } from "drizzle-orm/d1";

// Components
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import Opening from "../components/Opening.astro";
---

<!doctype html>
<html lang="en" data-theme="corporate">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta
			name="description"
			content="The Malaysian Society of Endoscopic Spine Surgery - specialists in interventional pain and spinal procedures"
		/>
		<meta name="generator" content={Astro.generator} />
		<title>Malaysia Society of Endoscopic Spine Surgery</title>
	</head>
	<body class="grid grid-cols-12 font-main gap-24">
		<Navbar />
		<Hero />
		<div class="bg-clip-box absolute z-0 -top-10 -right-0 h-256 overflow-hidden bg-linear-to-l from-cyan-200 to-[#0088ff] bg-local"></div>
		<Opening />
		<slot />
	</body>
</html>

<style>
	.bg-clip-box {
		width: 50%;
		/* height: 760px;  */
		clip-path: inset(5% 0% 13% 5% round 5% 5% 0% 5%);
		/* box-sizing: border-box; */
		/* background-attachment: fixed; */
	}
</style>
