---
import "../assets/app.css";

// Components
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import Opening from "../components/Opening.astro";
---

<!doctype html>
<html lang="en" data-theme="corporate">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>MSESS</title>
  </head>
  <body class="grid grid-cols-12 font-main">
    <Navbar />
    <Hero />
    <Opening />
    <slot />
  </body>
</html>
